/* ::::: http://www.ccs.neu.edu/home/matthias/HtDP2e/scribble.css ::::: */

.maincolumn, .refpara, .refelem, .tocset, .stt, .hspace, .refparaleft, .refelemleft { font-family: monospace; }
.main, .refcontent, .tocview, .tocsub, .sroman, i { font-family: serif; }
p, .SIntrapara { display: block; margin: 1em 0px; }
h3, h4, h5, h6, h7, h8 { margin-top: 1.75em; margin-bottom: 0.5em; }
table p { margin-top: 0px; margin-bottom: 0px; }
body { color: black; background-color: rgb(255, 255, 255); }
table td { padding-left: 0px; padding-right: 0px; }
.maincolumn { width: 43em; margin-right: -40em; margin-left: 15em; }
.main { text-align: left; }
.navsettop, .navsetbottom { background-color: rgb(240, 240, 224); padding: 0.25em 0px; }
.navsettop { margin-bottom: 1.5em; border-bottom: 2px solid rgb(224, 224, 192); }
.navsetbottom { margin-top: 2em; border-top: 2px solid rgb(224, 224, 192); }
.navleft { margin-left: 1ex; position: relative; float: left; white-space: nowrap; }
.navright { margin-right: 1ex; position: relative; float: right; white-space: nowrap; }
#contextindicator { position: fixed; background-color: rgb(204, 102, 255); color: rgb(0, 0, 0); font-family: monospace; font-weight: bold; padding: 2px 10px; display: none; right: 0px; bottom: 0px; }
.refpara, .refelem { position: relative; float: right; left: 2em; height: 0em; width: 13em; margin: 0em -13em 0em 0em; }
.refcolumn { background-color: rgb(245, 245, 220); display: block; position: relative; width: 13em; font-size: 85%; border: 0.5em solid rgb(245, 245, 220); margin: 0px; }
.refcontent { margin: 0px; }
.tocset { position: relative; float: left; width: 12.5em; margin-right: 2em; }
.tocset td { vertical-align: text-top; }
.tocview { text-align: left; background-color: rgb(240, 240, 224); }
.tocsub { text-align: left; margin-top: 0.5em; background-color: rgb(240, 240, 224); }
.tocviewlist, .tocsublist { margin-left: 0.2em; margin-right: 0.2em; padding-top: 0.2em; padding-bottom: 0.2em; }
.tocviewlist table { font-size: 82%; }
.tocviewsublist, .tocviewsublistonly, .tocviewsublisttop, .tocviewsublistbottom { margin-left: 0.4em; border-left: 1px solid rgb(187, 187, 255); padding-left: 0.8em; }
.tocviewsublist table, .tocviewsublistonly table, .tocviewsublisttop table, .tocviewsublistbottom table { font-size: 75%; }
.tocviewtitle * { font-weight: bold; }
.tocviewlink { text-decoration: none; color: blue; }
.tocviewselflink { text-decoration: underline; color: blue; }
.tocviewtoggle { text-decoration: none; color: blue; font-size: 75%; }
.tocsublist td { padding-left: 1em; text-indent: -1em; }
.tocsublinknumber { font-size: 82%; }
.tocsubseclink { font-size: 82%; text-decoration: none; }
.tocsubtitle { font-size: 82%; font-style: italic; margin: 0.2em; }
.nobreak { white-space: nowrap; }
.stt {  }
blockquote { margin-left: 2em; }
ol { list-style-type: decimal; }
.SCodeFlow { display: block; margin: 0em 1em; white-space: nowrap; }
.SubFlow { display: block; margin: 0em; }
.hspace {  }
.techoutside { text-decoration: underline; color: rgb(176, 176, 176); }
.techoutside:hover { text-decoration: underline; color: blue; }
.techinside { color: black; }
.techinside:hover { color: blue; }
.techoutside:hover > .techinside { color: inherit; }
.mywbr { width: 0px; font-size: 1px; }
/* ::::: http://www.ccs.neu.edu/home/matthias/HtDP2e/shared.css ::::: */

.Figure { border: 1px solid rgb(0, 0, 0); padding: 0.2em; background-color: rgb(238, 238, 238); }
/* ::::: http://www.ccs.neu.edu/home/matthias/HtDP2e/racket.css ::::: */

.RktIn, .RktRdr, .RktPn, .RktMeta, .RktMod, .RktKw, .RktVar, .RktSym, .RktRes, .RktOut, .RktCmt, .RktVal, .RktBlk { font-family: monospace; white-space: inherit; }
.RktIn { color: rgb(204, 102, 51); background-color: rgb(238, 238, 238); }
.RktInBG { background-color: rgb(238, 238, 238); }
.RktPn { color: rgb(132, 60, 36); }
.RktMeta { color: black; }
.RktErr { color: red; font-style: italic; }
.RktVar { color: rgb(38, 38, 128); font-style: italic; }
.RktSym { color: rgb(38, 38, 128); }
.RktValLink { text-decoration: none; color: blue; }
.RktStxLink { text-decoration: none; color: black; }
.RktCmt { color: rgb(194, 116, 31); }
.RktVal { color: rgb(34, 139, 34); }
.RktBlk { white-space: inherit; text-align: left; }
.RktBlk tr { white-space: inherit; }
.RktBlk td { vertical-align: baseline; white-space: inherit; }
.highlighted { background-color: rgb(221, 221, 255); }
/* ::::: http://www.ccs.neu.edu/home/matthias/HtDP2e/figure.css ::::: */

.Centertext { text-align: center; margin: 0px; }
.Figure, .FigureMulti, .FigureMultiWide, .Herefigure { margin: 1em 0px; border: 1px solid rgb(24, 24, 255); }
.Figure, .FigureMulti, .Herefigure { width: 100%; }
.Centerfigure { text-align: center; margin: 0px; }
.Leftfigure { text-align: left; margin: 0px; }
.FigureInside { margin: 1em; }
/* ::::: http://www.ccs.neu.edu/home/matthias/HtDP2e/scribble-style.css ::::: */

